<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
   <server>
     <id>nexus-modyo</id>
     <username>admin</username>
     <password>Banco001.</password>
   </server>
  </servers>
  <profiles>
    <profile>
      <id>nexus-maven</id>
          <activation>
            <activeByDefault>true</activeByDefault>
          </activation>
      <repositories>
        <repository>
            <id>maven-releases</id>
            <url>http://190.160.136.181:8082/repository/maven-releases/</url>
            <layout>default</layout>
            <releases>
                <enabled>true</enabled>
            </releases>
            <snapshots>
                <enabled>false</enabled>
            </snapshots>
        </repository>
        <repository>
            <id>maven-snapshot</id>
            <url>http://190.160.136.181:8082/repository/maven-snapshots/</url>
            <layout>default</layout>
            <releases>
                <enabled>false</enabled>
            </releases>
            <snapshots>
                <enabled>true</enabled>
            </snapshots>
        </repository>
    </repositories>
     <pluginRepositories>
        <pluginRepository>
            <id>madeUp</id>
            <url>http://central</url>
            <releases>
                <enabled>true</enabled>
            </releases>
            <snapshots>
                <enabled>true</enabled>
            </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
    <mirrors>
      <mirror>
          <id>nexus</id>
          <mirrorOf>madeUp</mirrorOf>
          <url>http://190.160.136.181:8082/repository/maven-public/</url>
      </mirror>
  </mirrors>
</settings>